<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colorfulword.smallbluewhale.dao.TruthOrDareDao">
    <resultMap id="list" type="com.colorfulword.smallbluewhale.domain.TruthOrDare">
        <id property="truthOrDareId" column="truth_or_dare_id"/>
        <result property="type" column="truth_or_dare_type"/>
        <result property="content" column="truth_or_dare_content"/>
    </resultMap>
    <select id="list" resultMap="list">
        SELECT truth_or_dare.*
        FROM truth_or_dare
    </select>

    <insert id="insert" parameterType="com.colorfulword.smallbluewhale.domain.TruthOrDare">
        INSERT INTO truth_or_dare (truth_or_dare_type,
        truth_or_dare_content)
        VALUES (#{type},
        #{content})
    </insert>

    <delete id="delete">
        DELETE FROM truth_or_dare
        WHERE truth_or_dare_id=#{truthOrDareId}
    </delete>

</mapper>